@import "tailwindcss";
@import "tw-animate-css";
@import "./colors.css";

html,
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: 
    repeating-linear-gradient(
      0deg, 
      transparent, 
      transparent 1rem,
      --color-emerald-50 1rem,
      --color-emerald-100 2rem
    );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

@keyframes expand {
	0% {
		
		transform: scale(0.8) ;
		opacity: 0;
	}

	50% {
		opacity: 0.3;
	}

	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

.animate-expand {
	animation: expand 6s ease-in-out infinite;
	animation-direction: normal;
}

.stripes {
			background-color: var(--color-gunmetal-200);
			background-image: repeating-linear-gradient(
				0deg, 
	    	  	var(--color-gunmetal-50) 1rem,
    	  		var(--color-gunmetal-100) 1.5rem,
				var(--color-gunmetal-50) 2rem
			);
			background-size: 200% 200%;
			animation: barberpole 50s linear infinite;
		}

		@keyframes barberpole {
			100% {
				background-position: 100% 100%;
			}
		}